# Bank Statement Description Classification

This Jupyter notebook provides a machine learning approach to classify bank statement descriptions into predefined categories. Bank statement descriptions often contain abbreviated or vague information, making it challenging to interpret their meaning. By classifying these descriptions into categories, financial institutions can better analyze transaction data for various purposes such as fraud detection, customer segmentation, and trend analysis.

What we're going to cover:

1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together!

## 1. Getting the data ready

In [86]:
import pandas as pd
import numpy as np

bank_statement = pd.read_csv("./data/bankstatement_seyi.csv")
bank_statement.head()

,DESCRIPTION,TRX_TYPE,CLASS,SUB-CLASS,BANK
0,AKANNI O EMMANUEL/MOB/UTO/ROTIMI EMMANUE/t/184...,Credit,USSD_TRANSFER,NaN,Access Bank
1,TRF/Transfer/FRMROTIMI EMMANUEL AKANNI TO MUHA...,Debit,BANK_TRANSFER,NaN,Access Bank
2,KANU WINNER U/MOBILE/UNION Transfer from KANU ...,Credit,APP_TRANSFER,NaN,Access Bank
3,TRF//FRMROTIMI EMMANUEL AKANNI TO ROTIMI EMMAN...,Credit,APP_TRANSFER,NaN,Access Bank
4,TRF/NULL/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,Credit,APP_TRANSFER,NaN,Access Bank

In [87]:
# Total number of rows in bank statement
len(bank_statement)

4113

In [88]:
bank_statement.dtypes

DESCRIPTION    object
TRX_TYPE       object
CLASS          object
SUB-CLASS      object
BANK           object
dtype: object

### 1a. Drop N/A columns

In [89]:
# Identify Column With N/A values
bank_statement.isna().sum()

DESCRIPTION       2
TRX_TYPE          4
CLASS            13
SUB-CLASS      1183
BANK             10
dtype: int64

In [90]:
bank_statement.dropna(inplace=True)
bank_statement.head()

,DESCRIPTION,TRX_TYPE,CLASS,SUB-CLASS,BANK
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,Debit,APP_TRANSFER,REFUND,Access Bank
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,Debit,APP_TRANSFER,Meat pie,Access Bank
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,Credit,APP_TRANSFER,Fuel,Access Bank
15,AIRTIME/ 9MOBILE/08179000904,Debit,UTILITY,Airtime,Access Bank
16,RVSL_AIRTIME/ 9MOBILE/08179000904,Credit,REFUND,Airtime,Access Bank

In [91]:
bank_statement.isna().sum()

DESCRIPTION    0
TRX_TYPE       0
CLASS          0
SUB-CLASS      0
BANK           0
dtype: int64

### 1b.Removing Unnecessary Columns
Remove unwanted columns, keeping only "description" and "class".

In [92]:
streamlined_bank_statement = bank_statement.drop("TRX_TYPE", axis=1)
streamlined_bank_statement.head()

,DESCRIPTION,CLASS,SUB-CLASS,BANK
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER,REFUND,Access Bank
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER,Meat pie,Access Bank
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER,Fuel,Access Bank
15,AIRTIME/ 9MOBILE/08179000904,UTILITY,Airtime,Access Bank
16,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND,Airtime,Access Bank

In [93]:
streamlined_bank_statement = streamlined_bank_statement.drop("SUB-CLASS", axis=1)
streamlined_bank_statement.head()

,DESCRIPTION,CLASS,BANK
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER,Access Bank
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER,Access Bank
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER,Access Bank
15,AIRTIME/ 9MOBILE/08179000904,UTILITY,Access Bank
16,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND,Access Bank

In [94]:
streamlined_bank_statement = streamlined_bank_statement.drop("BANK", axis=1)
streamlined_bank_statement.head()

                                          DESCRIPTION         CLASS
5   TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...  APP_TRANSFER
6   TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...  APP_TRANSFER
12  TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...  APP_TRANSFER
15                       AIRTIME/ 9MOBILE/08179000904       UTILITY
16                  RVSL_AIRTIME/ 9MOBILE/08179000904        REFUND

In [97]:
# Check Number of Rows
len(streamlined_bank_statement)

2916

In [98]:
streamlined_bank_statement.isna().sum()

DESCRIPTION    0
CLASS          0
dtype: int64

### 1c. Rename Columns

In [99]:
streamlined_bank_statement['txn_description'] = streamlined_bank_statement['DESCRIPTION']
streamlined_bank_statement.head()

,DESCRIPTION,CLASS,txn_description
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...
15,AIRTIME/ 9MOBILE/08179000904,UTILITY,AIRTIME/ 9MOBILE/08179000904
16,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND,RVSL_AIRTIME/ 9MOBILE/08179000904

In [100]:
streamlined_bank_statement['target'] = streamlined_bank_statement['CLASS']
streamlined_bank_statement.head()

,DESCRIPTION,CLASS,txn_description,target
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER
15,AIRTIME/ 9MOBILE/08179000904,UTILITY,AIRTIME/ 9MOBILE/08179000904,UTILITY
16,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND

In [101]:
streamlined_bank_statement = streamlined_bank_statement.drop("DESCRIPTION", axis=1)
streamlined_bank_statement.head()

,CLASS,txn_description,target
5,APP_TRANSFER,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER
6,APP_TRANSFER,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER
12,APP_TRANSFER,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER
15,UTILITY,AIRTIME/ 9MOBILE/08179000904,UTILITY
16,REFUND,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND

In [102]:
streamlined_bank_statement = streamlined_bank_statement.drop("CLASS", axis=1)
streamlined_bank_statement.head()

                                      txn_description        target
5   TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...  APP_TRANSFER
6   TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...  APP_TRANSFER
12  TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...  APP_TRANSFER
15                       AIRTIME/ 9MOBILE/08179000904       UTILITY
16                  RVSL_AIRTIME/ 9MOBILE/08179000904        REFUND

In [103]:
# Save Refined data as csv
streamlined_bank_statement.to_csv("./data/streamlined_bank_statement.csv", index=False)

### 1c. Convert target object to Int

In [70]:
LABELS = {
    'AGENT_WITHDRAWAL': 0,
    'APP_TRANSFER': 1,
    'ATM': 2,
    'BANK TRANSFER': 3,
    'BANK_CHARGES': 4,
    'CASH_WITHDRAWAL': 6,
    'Class': 7,
    'DEBIT': 8,
    'LOAN': 9,
    'ONLINE_TRANSFER': 10,
    'POS': 11,
    'REFUND': 12,
    'SALARY': 13,
    'TAX': 14,
    'USSD_TRANSFER': 15,
    'UTILITY': 16
}

In [104]:
streamlined_bank_statement.isna().sum()

txn_description    0
target             0
dtype: int64

In [105]:
streamlined_bank_statement['target'] = streamlined_bank_statement['target'].map(LABELS)
streamlined_bank_statement.head()

                                      txn_description  target
5   TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...     1.0
6   TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...     1.0
12  TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...     1.0
15                       AIRTIME/ 9MOBILE/08179000904    16.0
16                  RVSL_AIRTIME/ 9MOBILE/08179000904    12.0

In [106]:
streamlined_bank_statement.isna().sum()

txn_description      0
target             242
dtype: int64

In [107]:
streamlined_bank_statement.dropna(inplace=True)

In [108]:
streamlined_bank_statement.isna().sum()

txn_description    0
target             0
dtype: int64

In [110]:
len(streamlined_bank_statement)

2674

### 1c. Split Data into X/y

In [111]:
X = streamlined_bank_statement.drop("target", axis=1)
y = streamlined_bank_statement["target"]

### 1d. Convert txn_description object to Int using OneHotEncoder

In [112]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["txn_description"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_features)],
                               remainder="passthrough")

transformed_X =transformer.fit_transform(X)
transformed_X

<2674x2074 sparse matrix of type '<class 'numpy.float64'>'
	with 2674 stored elements in Compressed Sparse Row format>

### 1e. Check how many rows we now have

In [113]:
len(y), len(X)

(2674, 2674)

### 1f. Check for N/A

In [114]:
y.isna().sum()

0

In [115]:
X.isna().sum()

txn_description    0
dtype: int64

## 2. choosing the right estimator/algorithm for your problem
Using:https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html as a roadmap to picking a model, Our options are:
- Linear SVC
- KNeighbors Classifier
- Ensemble Classifier

## 3. Fit the model/algorithm and use it to make predictions on our data

##### 3a. In this step, we split the data into training and testing sets, allocating 80% for training and 20% for testing.

In [116]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

#### 3a. Linear SVC

In [121]:
from sklearn.svm import LinearSVC

#set up random seed
np.random.seed(42)
linear_svc_clf = LinearSVC(max_iter=10000, dual='auto')
linear_svc_clf.fit(X_train, y_train)

# Evaluate LinearSVC
linear_svc_clf.score(X_test, y_test)

0.6728971962616822

In [125]:
np.random.seed(42)
for i in range(10, 100, 1):
    print(f"Trying LinearSVC with {i} max_iter")
    linear_svc_clf = LinearSVC(max_iter=i, dual='auto')
    linear_svc_clf.fit(X_train, y_train)
    print(f" Model accuracy on test set: {linear_svc_clf.score(X_test, y_test)*100:.2f}%")
    
    print("")

Trying LinearSVC with 10 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 11 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 12 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 13 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 14 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 15 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 16 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 17 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 18 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 19 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 20 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 21 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 22 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 23 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 24 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 25 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 26 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 27 max_iter

/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

 Model accuracy on test set: 67.29%

Trying LinearSVC with 28 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 29 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 30 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 31 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 32 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 33 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 34 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 35 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 36 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 37 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 38 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 39 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 40 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 41 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 42 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 43 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 44 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 45 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 46 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 47 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 48 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 49 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 50 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 51 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 52 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 53 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 54 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 55 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 56 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 57 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 58 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 59 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 60 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 61 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 62 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 63 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 64 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 65 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 66 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 67 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 68 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 69 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 70 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 71 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 72 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 73 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 74 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 75 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 76 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 77 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 78 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 79 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 80 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 81 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 82 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 83 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 84 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 85 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 86 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 87 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 88 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 89 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 90 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 91 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 92 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 93 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 94 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 95 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 96 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 97 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 98 max_iter
 Model accuracy on test set: 67.29%

Trying LinearSVC with 99 max_iter
 Model accuracy on test set: 67.29%

#### 3b. KNeighbors Classifier

In [123]:
from sklearn.neighbors import KNeighborsClassifier

knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(X_train, y_train)
knn_classifier.score(X_test, y_test)

0.6149532710280374

In [128]:
np.random.seed(42)
for i in range(1, 100, 1):
    print(f"Trying KNeighborsClassifier with {i} n_neighbors")
    knn_classifier = KNeighborsClassifier(n_neighbors=i)
    knn_classifier.fit(X_train, y_train)
    print(f" Model accuracy on test set: {knn_classifier.score(X_test, y_test)*100:.2f}%")
    
    print("")

Trying KNeighborsClassifier with 1 n_neighbors
 Model accuracy on test set: 67.29%

Trying KNeighborsClassifier with 2 n_neighbors
 Model accuracy on test set: 34.39%

Trying KNeighborsClassifier with 3 n_neighbors
 Model accuracy on test set: 62.99%

Trying KNeighborsClassifier with 4 n_neighbors
 Model accuracy on test set: 67.10%

Trying KNeighborsClassifier with 5 n_neighbors
 Model accuracy on test set: 61.50%

Trying KNeighborsClassifier with 6 n_neighbors
 Model accuracy on test set: 61.50%

Trying KNeighborsClassifier with 7 n_neighbors
 Model accuracy on test set: 61.50%

Trying KNeighborsClassifier with 8 n_neighbors
 Model accuracy on test set: 61.50%

Trying KNeighborsClassifier with 9 n_neighbors
 Model accuracy on test set: 61.31%

Trying KNeighborsClassifier with 10 n_neighbors
 Model accuracy on test set: 61.31%

Trying KNeighborsClassifier with 11 n_neighbors
 Model accuracy on test set: 61.12%

Trying KNeighborsClassifier with 12 n_neighbors
 Model accuracy on test set: 61.31%

Trying KNeighborsClassifier with 13 n_neighbors
 Model accuracy on test set: 61.12%

Trying KNeighborsClassifier with 14 n_neighbors
 Model accuracy on test set: 61.12%

Trying KNeighborsClassifier with 15 n_neighbors
 Model accuracy on test set: 61.12%

Trying KNeighborsClassifier with 16 n_neighbors
 Model accuracy on test set: 60.56%

Trying KNeighborsClassifier with 17 n_neighbors
 Model accuracy on test set: 60.19%

Trying KNeighborsClassifier with 18 n_neighbors
 Model accuracy on test set: 60.56%

Trying KNeighborsClassifier with 19 n_neighbors
 Model accuracy on test set: 60.19%

Trying KNeighborsClassifier with 20 n_neighbors
 Model accuracy on test set: 60.19%

Trying KNeighborsClassifier with 21 n_neighbors
 Model accuracy on test set: 60.19%

Trying KNeighborsClassifier with 22 n_neighbors
 Model accuracy on test set: 60.19%

Trying KNeighborsClassifier with 23 n_neighbors
 Model accuracy on test set: 60.19%

Trying KNeighborsClassifier with 24 n_neighbors
 Model accuracy on test set: 60.00%

Trying KNeighborsClassifier with 25 n_neighbors
 Model accuracy on test set: 60.00%

Trying KNeighborsClassifier with 26 n_neighbors
 Model accuracy on test set: 60.00%

Trying KNeighborsClassifier with 27 n_neighbors
 Model accuracy on test set: 60.00%

Trying KNeighborsClassifier with 28 n_neighbors
 Model accuracy on test set: 60.00%

Trying KNeighborsClassifier with 29 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 30 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 31 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 32 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 33 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 34 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 35 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 36 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 37 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 38 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 39 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 40 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 41 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 42 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 43 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 44 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 45 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 46 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 47 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 48 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 49 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 50 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 51 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 52 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 53 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 54 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 55 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 56 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 57 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 58 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 59 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 60 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 61 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 62 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 63 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 64 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 65 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 66 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 67 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 68 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 69 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 70 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 71 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 72 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 73 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 74 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 75 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 76 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 77 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 78 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 79 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 80 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 81 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 82 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 83 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 84 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 85 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 86 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 87 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 88 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 89 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 90 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 91 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 92 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 93 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 94 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 95 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 96 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 97 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 98 n_neighbors
 Model accuracy on test set: 59.25%

Trying KNeighborsClassifier with 99 n_neighbors
 Model accuracy on test set: 59.25%

#### 3c. Ensemble Classifier

In [129]:
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

random_forest_classifier_model =  RandomForestClassifier(n_estimators=100)
random_forest_classifier_model.fit(X_train, y_train)

# Check score of model
random_forest_classifier_model.score(X_test, y_test)

0.6728971962616822

In [130]:
np.random.seed(42)
for i in range(1, 100, 1):
    print(f"Trying RandomForestClassifier with {i} n_estimators")
    random_forest_classifier_model = RandomForestClassifier(n_estimators=i)
    random_forest_classifier_model.fit(X_train, y_train)
    print(f" Model accuracy on test set: {random_forest_classifier_model.score(X_test, y_test)*100:.2f}%")
    
    print("")

Trying RandomForestClassifier with 1 n_estimators
 Model accuracy on test set: 65.61%

Trying RandomForestClassifier with 2 n_estimators
 Model accuracy on test set: 66.54%

Trying RandomForestClassifier with 3 n_estimators
 Model accuracy on test set: 65.79%

Trying RandomForestClassifier with 4 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 5 n_estimators
 Model accuracy on test set: 66.17%

Trying RandomForestClassifier with 6 n_estimators
 Model accuracy on test set: 66.73%

Trying RandomForestClassifier with 7 n_estimators
 Model accuracy on test set: 65.61%

Trying RandomForestClassifier with 8 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 9 n_estimators
 Model accuracy on test set: 65.98%

Trying RandomForestClassifier with 10 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 11 n_estimators
 Model accuracy on test set: 65.79%

Trying RandomForestClassifier with 12 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 13 n_estimators
 Model accuracy on test set: 66.73%

Trying RandomForestClassifier with 14 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 15 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 16 n_estimators
 Model accuracy on test set: 66.54%

Trying RandomForestClassifier with 17 n_estimators
 Model accuracy on test set: 65.79%

Trying RandomForestClassifier with 18 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 19 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 20 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 21 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 22 n_estimators
 Model accuracy on test set: 66.17%

Trying RandomForestClassifier with 23 n_estimators
 Model accuracy on test set: 66.36%

Trying RandomForestClassifier with 24 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 25 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 26 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 27 n_estimators
 Model accuracy on test set: 66.73%

Trying RandomForestClassifier with 28 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 29 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 30 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 31 n_estimators
 Model accuracy on test set: 66.73%

Trying RandomForestClassifier with 32 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 33 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 34 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 35 n_estimators
 Model accuracy on test set: 66.73%

Trying RandomForestClassifier with 36 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 37 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 38 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 39 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 40 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 41 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 42 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 43 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 44 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 45 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 46 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 47 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 48 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 49 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 50 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 51 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 52 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 53 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 54 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 55 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 56 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 57 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 58 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 59 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 60 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 61 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 62 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 63 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 64 n_estimators
 Model accuracy on test set: 67.48%

Trying RandomForestClassifier with 65 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 66 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 67 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 68 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 69 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 70 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 71 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 72 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 73 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 74 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 75 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 76 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 77 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 78 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 79 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 80 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 81 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 82 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 83 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 84 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 85 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 86 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 87 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 88 n_estimators
 Model accuracy on test set: 67.10%

Trying RandomForestClassifier with 89 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 90 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 91 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 92 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 93 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 94 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 95 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 96 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 97 n_estimators
 Model accuracy on test set: 66.92%

Trying RandomForestClassifier with 98 n_estimators
 Model accuracy on test set: 67.29%

Trying RandomForestClassifier with 99 n_estimators
 Model accuracy on test set: 67.29%