# Bank Statement Description Classification

This Jupyter notebook provides a machine learning approach to classify bank statement descriptions into predefined categories. Bank statement descriptions often contain abbreviated or vague information, making it challenging to interpret their meaning. By classifying these descriptions into categories, financial institutions can better analyze transaction data for various purposes such as fraud detection, customer segmentation, and trend analysis.

What we're going to cover:

1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together!

## 1. Getting the data ready

In [1]:
import pandas as pd
import numpy as np

bank_statement = pd.read_csv("./data/bankstatement_seyi.csv")
bank_statement.head()

,DESCRIPTION,TRX_TYPE,CLASS,SUB-CLASS,BANK
0,AKANNI O EMMANUEL/MOB/UTO/ROTIMI EMMANUE/t/184...,Credit,USSD_TRANSFER,NaN,Access Bank
1,TRF/Transfer/FRMROTIMI EMMANUEL AKANNI TO MUHA...,Debit,BANK_TRANSFER,NaN,Access Bank
2,KANU WINNER U/MOBILE/UNION Transfer from KANU ...,Credit,APP_TRANSFER,NaN,Access Bank
3,TRF//FRMROTIMI EMMANUEL AKANNI TO ROTIMI EMMAN...,Credit,APP_TRANSFER,NaN,Access Bank
4,TRF/NULL/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,Credit,APP_TRANSFER,NaN,Access Bank

In [2]:
# Total number of rows in bank statement
len(bank_statement)

4113

In [3]:
bank_statement.dtypes

DESCRIPTION    object
TRX_TYPE       object
CLASS          object
SUB-CLASS      object
BANK           object
dtype: object

### 1a. Drop N/A columns

In [4]:
# Identify Column With N/A values
bank_statement.isna().sum()

DESCRIPTION       2
TRX_TYPE          4
CLASS            13
SUB-CLASS      1183
BANK             10
dtype: int64

In [5]:
bank_statement.dropna(inplace=True)
bank_statement.head()

,DESCRIPTION,TRX_TYPE,CLASS,SUB-CLASS,BANK
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,Debit,APP_TRANSFER,REFUND,Access Bank
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,Debit,APP_TRANSFER,Meat pie,Access Bank
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,Credit,APP_TRANSFER,Fuel,Access Bank
15,AIRTIME/ 9MOBILE/08179000904,Debit,UTILITY,Airtime,Access Bank
16,RVSL_AIRTIME/ 9MOBILE/08179000904,Credit,REFUND,Airtime,Access Bank

In [6]:
bank_statement.isna().sum()

DESCRIPTION    0
TRX_TYPE       0
CLASS          0
SUB-CLASS      0
BANK           0
dtype: int64

### 1b.Removing Unnecessary Columns
Remove unwanted columns, keeping only "description" and "class".

In [7]:
streamlined_bank_statement = bank_statement.drop("TRX_TYPE", axis=1)
streamlined_bank_statement.head()

,DESCRIPTION,CLASS,SUB-CLASS,BANK
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER,REFUND,Access Bank
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER,Meat pie,Access Bank
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER,Fuel,Access Bank
15,AIRTIME/ 9MOBILE/08179000904,UTILITY,Airtime,Access Bank
16,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND,Airtime,Access Bank

In [8]:
streamlined_bank_statement = streamlined_bank_statement.drop("SUB-CLASS", axis=1)
streamlined_bank_statement.head()

,DESCRIPTION,CLASS,BANK
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER,Access Bank
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER,Access Bank
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER,Access Bank
15,AIRTIME/ 9MOBILE/08179000904,UTILITY,Access Bank
16,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND,Access Bank

In [9]:
streamlined_bank_statement = streamlined_bank_statement.drop("BANK", axis=1)
streamlined_bank_statement.head()

                                          DESCRIPTION         CLASS
5   TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...  APP_TRANSFER
6   TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...  APP_TRANSFER
12  TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...  APP_TRANSFER
15                       AIRTIME/ 9MOBILE/08179000904       UTILITY
16                  RVSL_AIRTIME/ 9MOBILE/08179000904        REFUND

In [10]:
# Check Number of Rows
len(streamlined_bank_statement)

2916

In [11]:
streamlined_bank_statement.isna().sum()

DESCRIPTION    0
CLASS          0
dtype: int64

### 1c. Rename Columns

In [12]:
streamlined_bank_statement['txn_description'] = streamlined_bank_statement['DESCRIPTION']
streamlined_bank_statement.head()

,DESCRIPTION,CLASS,txn_description
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...
15,AIRTIME/ 9MOBILE/08179000904,UTILITY,AIRTIME/ 9MOBILE/08179000904
16,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND,RVSL_AIRTIME/ 9MOBILE/08179000904

In [13]:
streamlined_bank_statement['target'] = streamlined_bank_statement['CLASS']
streamlined_bank_statement.head()

,DESCRIPTION,CLASS,txn_description,target
5,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER
6,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER
12,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER
15,AIRTIME/ 9MOBILE/08179000904,UTILITY,AIRTIME/ 9MOBILE/08179000904,UTILITY
16,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND

In [14]:
streamlined_bank_statement = streamlined_bank_statement.drop("DESCRIPTION", axis=1)
streamlined_bank_statement.head()

,CLASS,txn_description,target
5,APP_TRANSFER,TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...,APP_TRANSFER
6,APP_TRANSFER,TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...,APP_TRANSFER
12,APP_TRANSFER,TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...,APP_TRANSFER
15,UTILITY,AIRTIME/ 9MOBILE/08179000904,UTILITY
16,REFUND,RVSL_AIRTIME/ 9MOBILE/08179000904,REFUND

In [15]:
streamlined_bank_statement = streamlined_bank_statement.drop("CLASS", axis=1)
streamlined_bank_statement.head()

                                      txn_description        target
5   TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...  APP_TRANSFER
6   TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...  APP_TRANSFER
12  TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...  APP_TRANSFER
15                       AIRTIME/ 9MOBILE/08179000904       UTILITY
16                  RVSL_AIRTIME/ 9MOBILE/08179000904        REFUND

In [16]:
# Save Refined data as csv
streamlined_bank_statement.to_csv("./data/streamlined_bank_statement.csv", index=False)

### 1c. Convert target object to Int

In [17]:
LABELS = {
    'AGENT_WITHDRAWAL': 0,
    'APP_TRANSFER': 1,
    'ATM': 2,
    'BANK TRANSFER': 3,
    'BANK_CHARGES': 4,
    'CASH_WITHDRAWAL': 6,
    'Class': 7,
    'DEBIT': 8,
    'LOAN': 9,
    'ONLINE_TRANSFER': 10,
    'POS': 11,
    'REFUND': 12,
    'SALARY': 13,
    'TAX': 14,
    'USSD_TRANSFER': 15,
    'UTILITY': 16
}

In [18]:
streamlined_bank_statement.isna().sum()

txn_description    0
target             0
dtype: int64

In [19]:
streamlined_bank_statement['target'] = streamlined_bank_statement['target'].map(LABELS)
streamlined_bank_statement.head()

                                      txn_description  target
5   TRF/REFUND/FRMROTIMI EMMANUEL AKANNI TO KANU W...     1.0
6   TRF/Meat pie/FRMROTIMI EMMANUEL AKANNI TO AKIN...     1.0
12  TRF/Fuel/FRMUFUOMA BENEDICTA MARCHIE TO ROTIMI...     1.0
15                       AIRTIME/ 9MOBILE/08179000904    16.0
16                  RVSL_AIRTIME/ 9MOBILE/08179000904    12.0

In [20]:
streamlined_bank_statement.isna().sum()

txn_description      0
target             242
dtype: int64

In [21]:
streamlined_bank_statement.dropna(inplace=True)

In [22]:
streamlined_bank_statement.isna().sum()

txn_description    0
target             0
dtype: int64

In [23]:
len(streamlined_bank_statement)

2674

### 1c. Split Data into X/y

In [24]:
X = streamlined_bank_statement.drop("target", axis=1)
y = streamlined_bank_statement["target"]

### 1d. Convert txn_description object to Int using TF-IDF vectorizer

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()
tfidf_vectorizer.fit(X['txn_description'])
transformed_X = tfidf_vectorizer.transform(X['txn_description'])
transformed_X

<2674x4143 sparse matrix of type '<class 'numpy.float64'>'
	with 30185 stored elements in Compressed Sparse Row format>

### 1e. Check how many rows we now have

In [39]:
len(y), len(X)

(2674, 2674)

### 1f. Check for N/A

In [40]:
y.isna().sum()

0

In [41]:
X.isna().sum()

txn_description    0
dtype: int64

## 2. choosing the right estimator/algorithm for your problem
Using:https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html as a roadmap to picking a model, Our options are:
- Linear SVC
- KNeighbors Classifier
- Ensemble Classifier

## 3. Fit the model/algorithm and use it to make predictions on our data

##### 3a. In this step, we split the data into training and testing sets, allocating 80% for training and 20% for testing.

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

#### 3a. Linear SVC

In [43]:
from sklearn.svm import LinearSVC

#set up random seed
np.random.seed(42)
linear_svc_clf = LinearSVC(max_iter=10000, dual='auto')
linear_svc_clf.fit(X_train, y_train)

# Evaluate LinearSVC
linear_svc_clf.score(X_test, y_test)

0.994392523364486

In [44]:
np.random.seed(42)
for i in range(10, 100, 1):
    print(f"Trying LinearSVC with {i} max_iter")
    linear_svc_clf = LinearSVC(max_iter=i, dual='auto')
    linear_svc_clf.fit(X_train, y_train)
    print(f" Model accuracy on test set: {linear_svc_clf.score(X_test, y_test)*100:.2f}%")
    
    print("")

Trying LinearSVC with 10 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 11 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 12 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 13 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 14 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 15 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 16 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 17 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 18 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 19 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 20 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 21 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 22 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 23 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 24 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 25 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 26 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 27 max_iter

/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

 Model accuracy on test set: 99.44%

Trying LinearSVC with 28 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 29 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 30 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 31 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 32 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 33 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 34 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 35 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 36 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 37 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 38 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 39 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 40 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 41 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 42 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 43 max_iter

/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/oluwatomisinjames/Ml-course/sample-project2/env/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

 Model accuracy on test set: 99.44%

Trying LinearSVC with 44 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 45 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 46 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 47 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 48 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 49 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 50 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 51 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 52 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 53 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 54 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 55 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 56 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 57 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 58 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 59 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 60 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 61 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 62 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 63 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 64 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 65 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 66 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 67 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 68 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 69 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 70 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 71 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 72 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 73 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 74 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 75 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 76 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 77 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 78 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 79 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 80 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 81 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 82 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 83 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 84 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 85 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 86 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 87 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 88 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 89 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 90 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 91 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 92 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 93 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 94 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 95 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 96 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 97 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 98 max_iter
 Model accuracy on test set: 99.44%

Trying LinearSVC with 99 max_iter
 Model accuracy on test set: 99.44%

#### 3b. KNeighbors Classifier

In [45]:
from sklearn.neighbors import KNeighborsClassifier

knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(X_train, y_train)
knn_classifier.score(X_test, y_test)

0.9420560747663551

In [46]:
np.random.seed(42)
for i in range(1, 100, 1):
    print(f"Trying KNeighborsClassifier with {i} n_neighbors")
    knn_classifier = KNeighborsClassifier(n_neighbors=i)
    knn_classifier.fit(X_train, y_train)
    print(f" Model accuracy on test set: {knn_classifier.score(X_test, y_test)*100:.2f}%")
    
    print("")

Trying KNeighborsClassifier with 1 n_neighbors
 Model accuracy on test set: 86.92%

Trying KNeighborsClassifier with 2 n_neighbors
 Model accuracy on test set: 75.89%

Trying KNeighborsClassifier with 3 n_neighbors
 Model accuracy on test set: 87.85%

Trying KNeighborsClassifier with 4 n_neighbors
 Model accuracy on test set: 91.03%

Trying KNeighborsClassifier with 5 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 6 n_neighbors
 Model accuracy on test set: 91.78%

Trying KNeighborsClassifier with 7 n_neighbors
 Model accuracy on test set: 93.83%

Trying KNeighborsClassifier with 8 n_neighbors
 Model accuracy on test set: 93.08%

Trying KNeighborsClassifier with 9 n_neighbors
 Model accuracy on test set: 92.71%

Trying KNeighborsClassifier with 10 n_neighbors
 Model accuracy on test set: 91.59%

Trying KNeighborsClassifier with 11 n_neighbors
 Model accuracy on test set: 92.71%

Trying KNeighborsClassifier with 12 n_neighbors
 Model accuracy on test set: 92.90%

Trying KNeighborsClassifier with 13 n_neighbors
 Model accuracy on test set: 93.83%

Trying KNeighborsClassifier with 14 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 15 n_neighbors
 Model accuracy on test set: 94.58%

Trying KNeighborsClassifier with 16 n_neighbors
 Model accuracy on test set: 94.58%

Trying KNeighborsClassifier with 17 n_neighbors
 Model accuracy on test set: 94.58%

Trying KNeighborsClassifier with 18 n_neighbors
 Model accuracy on test set: 94.77%

Trying KNeighborsClassifier with 19 n_neighbors
 Model accuracy on test set: 94.58%

Trying KNeighborsClassifier with 20 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 21 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 22 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 23 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 24 n_neighbors
 Model accuracy on test set: 93.83%

Trying KNeighborsClassifier with 25 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 26 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 27 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 28 n_neighbors
 Model accuracy on test set: 93.83%

Trying KNeighborsClassifier with 29 n_neighbors
 Model accuracy on test set: 93.83%

Trying KNeighborsClassifier with 30 n_neighbors
 Model accuracy on test set: 93.83%

Trying KNeighborsClassifier with 31 n_neighbors
 Model accuracy on test set: 93.83%

Trying KNeighborsClassifier with 32 n_neighbors
 Model accuracy on test set: 93.83%

Trying KNeighborsClassifier with 33 n_neighbors
 Model accuracy on test set: 93.83%

Trying KNeighborsClassifier with 34 n_neighbors
 Model accuracy on test set: 94.02%

Trying KNeighborsClassifier with 35 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 36 n_neighbors
 Model accuracy on test set: 94.58%

Trying KNeighborsClassifier with 37 n_neighbors
 Model accuracy on test set: 94.58%

Trying KNeighborsClassifier with 38 n_neighbors
 Model accuracy on test set: 94.58%

Trying KNeighborsClassifier with 39 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 40 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 41 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 42 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 43 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 44 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 45 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 46 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 47 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 48 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 49 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 50 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 51 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 52 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 53 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 54 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 55 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 56 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 57 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 58 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 59 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 60 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 61 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 62 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 63 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 64 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 65 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 66 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 67 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 68 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 69 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 70 n_neighbors
 Model accuracy on test set: 94.58%

Trying KNeighborsClassifier with 71 n_neighbors
 Model accuracy on test set: 94.58%

Trying KNeighborsClassifier with 72 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 73 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 74 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 75 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 76 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 77 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 78 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 79 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 80 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 81 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 82 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 83 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 84 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 85 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 86 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 87 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 88 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 89 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 90 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 91 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 92 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 93 n_neighbors
 Model accuracy on test set: 94.21%

Trying KNeighborsClassifier with 94 n_neighbors
 Model accuracy on test set: 94.39%

Trying KNeighborsClassifier with 95 n_neighbors
 Model accuracy on test set: 93.27%

Trying KNeighborsClassifier with 96 n_neighbors
 Model accuracy on test set: 93.64%

Trying KNeighborsClassifier with 97 n_neighbors
 Model accuracy on test set: 93.64%

Trying KNeighborsClassifier with 98 n_neighbors
 Model accuracy on test set: 92.71%

Trying KNeighborsClassifier with 99 n_neighbors
 Model accuracy on test set: 92.71%

#### 3c. Ensemble Classifier

In [47]:
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

random_forest_classifier_model =  RandomForestClassifier(n_estimators=100)
random_forest_classifier_model.fit(X_train, y_train)

# Check score of model
random_forest_classifier_model.score(X_test, y_test)

0.9887850467289719

In [48]:
np.random.seed(42)
for i in range(1, 100, 1):
    print(f"Trying RandomForestClassifier with {i} n_estimators")
    random_forest_classifier_model = RandomForestClassifier(n_estimators=i)
    random_forest_classifier_model.fit(X_train, y_train)
    print(f" Model accuracy on test set: {random_forest_classifier_model.score(X_test, y_test)*100:.2f}%")
    
    print("")

Trying RandomForestClassifier with 1 n_estimators
 Model accuracy on test set: 97.94%

Trying RandomForestClassifier with 2 n_estimators
 Model accuracy on test set: 96.64%

Trying RandomForestClassifier with 3 n_estimators
 Model accuracy on test set: 97.38%

Trying RandomForestClassifier with 4 n_estimators
 Model accuracy on test set: 97.76%

Trying RandomForestClassifier with 5 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 6 n_estimators
 Model accuracy on test set: 98.32%

Trying RandomForestClassifier with 7 n_estimators
 Model accuracy on test set: 98.50%

Trying RandomForestClassifier with 8 n_estimators
 Model accuracy on test set: 98.32%

Trying RandomForestClassifier with 9 n_estimators
 Model accuracy on test set: 98.32%

Trying RandomForestClassifier with 10 n_estimators
 Model accuracy on test set: 98.69%

Trying RandomForestClassifier with 11 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 12 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 13 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 14 n_estimators
 Model accuracy on test set: 99.44%

Trying RandomForestClassifier with 15 n_estimators
 Model accuracy on test set: 98.69%

Trying RandomForestClassifier with 16 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 17 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 18 n_estimators
 Model accuracy on test set: 98.69%

Trying RandomForestClassifier with 19 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 20 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 21 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 22 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 23 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 24 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 25 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 26 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 27 n_estimators
 Model accuracy on test set: 99.44%

Trying RandomForestClassifier with 28 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 29 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 30 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 31 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 32 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 33 n_estimators
 Model accuracy on test set: 99.44%

Trying RandomForestClassifier with 34 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 35 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 36 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 37 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 38 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 39 n_estimators
 Model accuracy on test set: 99.44%

Trying RandomForestClassifier with 40 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 41 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 42 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 43 n_estimators
 Model accuracy on test set: 98.69%

Trying RandomForestClassifier with 44 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 45 n_estimators
 Model accuracy on test set: 99.44%

Trying RandomForestClassifier with 46 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 47 n_estimators
 Model accuracy on test set: 98.69%

Trying RandomForestClassifier with 48 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 49 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 50 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 51 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 52 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 53 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 54 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 55 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 56 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 57 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 58 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 59 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 60 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 61 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 62 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 63 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 64 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 65 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 66 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 67 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 68 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 69 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 70 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 71 n_estimators
 Model accuracy on test set: 99.44%

Trying RandomForestClassifier with 72 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 73 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 74 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 75 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 76 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 77 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 78 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 79 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 80 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 81 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 82 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 83 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 84 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 85 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 86 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 87 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 88 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 89 n_estimators
 Model accuracy on test set: 99.44%

Trying RandomForestClassifier with 90 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 91 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 92 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 93 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 94 n_estimators
 Model accuracy on test set: 99.44%

Trying RandomForestClassifier with 95 n_estimators
 Model accuracy on test set: 99.07%

Trying RandomForestClassifier with 96 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 97 n_estimators
 Model accuracy on test set: 98.88%

Trying RandomForestClassifier with 98 n_estimators
 Model accuracy on test set: 99.25%

Trying RandomForestClassifier with 99 n_estimators
 Model accuracy on test set: 99.25%

In [49]:
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
categorical_features_indices = [0]
catboost_classifier = CatBoostClassifier(iterations=100, depth=6, learning_rate=0.1)
catboost_classifier.fit(X_train, y_train, cat_features=categorical_features_indices)
catboost_classifier.score(X_test, y_test)

0:	learn: 1.8169311	total: 5.03ms	remaining: 498ms
1:	learn: 1.6599131	total: 7.89ms	remaining: 387ms
2:	learn: 1.5485392	total: 10.5ms	remaining: 341ms
3:	learn: 1.4641507	total: 12.7ms	remaining: 306ms
4:	learn: 1.4001539	total: 14.8ms	remaining: 282ms
5:	learn: 1.3463779	total: 19.5ms	remaining: 306ms
6:	learn: 1.3010647	total: 21.7ms	remaining: 288ms
7:	learn: 1.2637458	total: 24.9ms	remaining: 287ms
8:	learn: 1.2317364	total: 27.6ms	remaining: 279ms
9:	learn: 1.2043158	total: 29.4ms	remaining: 265ms
10:	learn: 1.1806533	total: 32.1ms	remaining: 260ms
11:	learn: 1.1603093	total: 33.8ms	remaining: 248ms
12:	learn: 1.1438202	total: 35.8ms	remaining: 240ms
13:	learn: 1.1282563	total: 38ms	remaining: 233ms
14:	learn: 1.1148581	total: 41.8ms	remaining: 237ms
15:	learn: 1.1038813	total: 44.7ms	remaining: 234ms
16:	learn: 1.0935474	total: 47.2ms	remaining: 230ms
17:	learn: 1.0855887	total: 48.9ms	remaining: 223ms
18:	learn: 1.0773428	total: 50.6ms	remaining: 216ms
19:	learn: 1.0700672	total: 52.4ms	remaining: 210ms
20:	learn: 1.0639493	total: 54.4ms	remaining: 204ms
21:	learn: 1.0581745	total: 57.3ms	remaining: 203ms
22:	learn: 1.0532245	total: 60.4ms	remaining: 202ms
23:	learn: 1.0488579	total: 62.2ms	remaining: 197ms
24:	learn: 1.0448426	total: 64.3ms	remaining: 193ms
25:	learn: 1.0414951	total: 68.5ms	remaining: 195ms
26:	learn: 1.0385852	total: 70.5ms	remaining: 191ms
27:	learn: 1.0323717	total: 73.9ms	remaining: 190ms
28:	learn: 1.0280441	total: 76.5ms	remaining: 187ms
29:	learn: 1.0257769	total: 79.4ms	remaining: 185ms
30:	learn: 1.0237701	total: 81.3ms	remaining: 181ms
31:	learn: 1.0192927	total: 85.3ms	remaining: 181ms
32:	learn: 1.0176612	total: 88.6ms	remaining: 180ms
33:	learn: 1.0161936	total: 92.1ms	remaining: 179ms
34:	learn: 1.0151038	total: 94.3ms	remaining: 175ms
35:	learn: 1.0140688	total: 96.4ms	remaining: 171ms
36:	learn: 1.0118436	total: 99.1ms	remaining: 169ms
37:	learn: 1.0107879	total: 101ms	remaining: 165ms
38:	learn: 1.0100353	total: 104ms	remaining: 163ms
39:	learn: 1.0091631	total: 108ms	remaining: 162ms
40:	learn: 1.0085772	total: 110ms	remaining: 158ms
41:	learn: 1.0080612	total: 112ms	remaining: 155ms
42:	learn: 1.0075574	total: 114ms	remaining: 151ms
43:	learn: 1.0057958	total: 117ms	remaining: 149ms
44:	learn: 1.0052973	total: 120ms	remaining: 147ms
45:	learn: 1.0047277	total: 123ms	remaining: 145ms
46:	learn: 1.0036939	total: 126ms	remaining: 142ms
47:	learn: 1.0023500	total: 128ms	remaining: 139ms
48:	learn: 1.0020308	total: 131ms	remaining: 137ms
49:	learn: 0.9998540	total: 135ms	remaining: 135ms
50:	learn: 0.9994904	total: 138ms	remaining: 133ms
51:	learn: 0.9993298	total: 142ms	remaining: 131ms
52:	learn: 0.9990109	total: 145ms	remaining: 129ms
53:	learn: 0.9983287	total: 148ms	remaining: 126ms
54:	learn: 0.9972542	total: 150ms	remaining: 123ms
55:	learn: 0.9970498	total: 153ms	remaining: 120ms
56:	learn: 0.9954301	total: 156ms	remaining: 118ms
57:	learn: 0.9952136	total: 159ms	remaining: 115ms
58:	learn: 0.9949913	total: 162ms	remaining: 112ms
59:	learn: 0.9948111	total: 165ms	remaining: 110ms
60:	learn: 0.9946458	total: 168ms	remaining: 107ms
61:	learn: 0.9945954	total: 169ms	remaining: 104ms
62:	learn: 0.9940692	total: 171ms	remaining: 101ms
63:	learn: 0.9930232	total: 175ms	remaining: 98.5ms
64:	learn: 0.9929502	total: 177ms	remaining: 95.2ms
65:	learn: 0.9920802	total: 181ms	remaining: 93ms
66:	learn: 0.9915094	total: 184ms	remaining: 90.4ms
67:	learn: 0.9913565	total: 188ms	remaining: 88.3ms
68:	learn: 0.9912560	total: 191ms	remaining: 85.7ms
69:	learn: 0.9911007	total: 194ms	remaining: 83.1ms
70:	learn: 0.9909748	total: 199ms	remaining: 81.4ms
71:	learn: 0.9909499	total: 200ms	remaining: 77.9ms
72:	learn: 0.9908470	total: 204ms	remaining: 75.4ms
73:	learn: 0.9903126	total: 207ms	remaining: 72.7ms
74:	learn: 0.9899049	total: 211ms	remaining: 70.3ms
75:	learn: 0.9898203	total: 221ms	remaining: 69.7ms
76:	learn: 0.9897205	total: 223ms	remaining: 66.7ms
77:	learn: 0.9892431	total: 226ms	remaining: 63.9ms
78:	learn: 0.9891981	total: 230ms	remaining: 61.3ms
79:	learn: 0.9891321	total: 233ms	remaining: 58.2ms
80:	learn: 0.9890423	total: 235ms	remaining: 55.2ms
81:	learn: 0.9888776	total: 239ms	remaining: 52.4ms
82:	learn: 0.9882969	total: 243ms	remaining: 49.7ms
83:	learn: 0.9881214	total: 246ms	remaining: 46.8ms
84:	learn: 0.9877911	total: 248ms	remaining: 43.8ms
85:	learn: 0.9877065	total: 253ms	remaining: 41.2ms
86:	learn: 0.9868975	total: 256ms	remaining: 38.3ms
87:	learn: 0.9868861	total: 257ms	remaining: 35.1ms
88:	learn: 0.9861883	total: 260ms	remaining: 32.2ms
89:	learn: 0.9859408	total: 263ms	remaining: 29.2ms
90:	learn: 0.9858882	total: 266ms	remaining: 26.3ms
91:	learn: 0.9857510	total: 269ms	remaining: 23.4ms
92:	learn: 0.9851394	total: 273ms	remaining: 20.5ms
93:	learn: 0.9846052	total: 276ms	remaining: 17.6ms
94:	learn: 0.9845470	total: 279ms	remaining: 14.7ms
95:	learn: 0.9840328	total: 282ms	remaining: 11.8ms
96:	learn: 0.9836104	total: 287ms	remaining: 8.87ms
97:	learn: 0.9833660	total: 290ms	remaining: 5.92ms
98:	learn: 0.9832237	total: 294ms	remaining: 2.97ms
99:	learn: 0.9830475	total: 297ms	remaining: 0us

0.680373831775701